.card{
    padding:16px;
    box-sizing: border-box;
    box-shadow: 6px 3px 13px 1px rgb(0 0 0/ 35%);
    width: 250px;
    height: 320px;
    border-radius: 12px;
    margin: 12px;
    display:inline-flex;
    align-content: center;
 }

